
<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>
<meta property="og:image" content="https://imgur.com/gallery/lsvt02s"/>
<meta property="og:description" content="Quiche is a fullstack clone of Robinhood"/>

<main id="root"></main>
