/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	// margin: 0;
	// padding: 0;
	// border: 0;
	// font-size: 100%;
	// font: inherit;
	// vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  font-family: Capsule Sans Text,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI", Helvetica,Arial,sans-serif;
}

.odometer {
  font-family: Capsule Sans Text,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI", Helvetica,Arial,sans-serif;
  font-size: 32px;
  display: flex;
  align-items: center;
  line-height: 40px;
  font-weight: 500;
}

.stock-name {
  display: flex;
    h1 {
      font-size: 32px;
      height: 40px;
    }
}

.splash-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  padding: 0 24px;
    #logo {
      text-decoration: none;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      margin-left: 10px;
    }
}

#logo:visited,
#logo:link,
#logo:active {
  color: black;
}

.splash-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(195,245,60);
  border-bottom-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  overflow: hidden;
  position: relative;
}

.splash-container {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
}

@media (max-width: 1279px) and (min-width: 1024px) {
  .splash-container {
    min-width: 1024px;
    max-width: 100%;
    padding-left: 36px;
    padding-right: 36px;
  }
  .splash-container-2 {
    margin-left: -9px;
    margin-right: -9px;
    width: calc(100% + 18px);
    flex-wrap: wrap;
    flex-direction: row;
  }
  .video-content, .image-container {
    visibility: visible;
  }
}

.splash-container-2 {
  display: flex;
  align-items: center;
}

.video-content {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.image-container {
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

//login

@media (max-width: 1023px) and (min-width: 768px) {
  .splash-container-2 {
    margin-left: -7px;
    margin-right: -7px;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 32px;
    padding-right: 32px;
    justify-content: center;
  }
  .inner-content {
    padding: 50px 0;
  }
  .splash-signup {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
  }
}

@media (min-width: 1280px) {
  .splash-container {
    min-width: 1280px;
    max-width: 1280px;
    padding-left: 50;
    padding-right: 37px;
    display: block;
  }
  .inner-splash-container {
    margin-left: 9px;
    margin-right: 9px;
    width: 492px;
    display: block;
    visibility: visible;
  }
  .inner-content {
    padding: 100px 0;
    display: block;
    visibility: visible;
  }
  .heading {
    visibility: visible;
    h1 {
      visibility: visible;
    }
  }
  .short-intro, .splash-signup, .splash-signup2, .right-content-2, .right-content-3 {
    visibility: visible;
  }

  .right-content {
  margin-left: 9px;
  margin-right: 9px;
  width: 696px;
  display: block;
  visibility: visible;
  }

}

@media (min-width: 768px) {
  .heading h1 {
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    text-decoration: unset;
  }
  .short-intro span {
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }
  .splash-signup {
    a {
      width: auto;
    }
  }
  .right-content-3 {
    min-width: 100%;
  }
  .login-outermost-3 .left-image {
    background-image: url("https://cdn.robinhood.com/assets/generated_assets/cdfcb3cb965d71cf114d0aeb8f0a50cd.jpg");
  }
  .image-container {
    min-width: 100%;
    min-height: 540px;
  }
}

.login-outermost {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.login-outermost-2 {
  background-color: var(--rh__neutral-bg1);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.login-outermost-3 {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.login-outermost-3 .left-image {
  background-position: center;
  background-size: cover;
  height: 100%;
  display: block;
  background-image: url("https://cdn.robinhood.com/assets/generated_assets/cdfcb3cb965d71cf114d0aeb8f0a50cd.jpg");
}

.login-outermost-3 > div {
  flex: 1 1 50%;
  display: block;
}

.login-container {
  height: 400px;
  margin-left: 52px;
  margin-right: 52px;
  width: 412px;
  box-sizing: border-box;
  display: block;
}

.login-form {
  box-sizing: border-box;
  display: block;
  margin-top: 0em;
}

.login-header {
  margin-bottom: 12px;
  display: block;
  box-sizing: border-box;
  font-size: 21px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.1px;
  font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
}

.login-span {
  font-style: normal;
  text-decoration: unset;
  box-sizing: border-box;
}

.signup-button {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  box-sizing: border-box;
}

.the-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;

  p {
    font-size: 13px;
    padding-left: 13px;
    cursor: pointer;
    color: rgb(0, 200, 5);
  }
}

.the-actual-button {
  background: rgb(0, 200, 5);
  border-color: rgb(0, 200, 5);
  align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    height: 48px;

    justify-content: center;
    min-width: 120px;
    padding: 0 48px;
    white-space: nowrap;
    span {
      font-size: 13px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: -0.1px;
      color: rgb(255, 255, 255);;
    }
}

.the-actual-button:hover {
  background-color: rgb(0, 180, 5);;
}

.login-input {
  flex-direction: column;
  margin-bottom: 60px;
  box-sizing: border-box;
  display: block;
  font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 20px;
    input {
      box-sizing: border-box;
      display: block;
      flex: 1 1 auto;
      height: 48px;
      padding: 15px 20px;
      color: var(--rh__neutral-fg1);
      border-style: solid;
      border-width: 1px;
      border-radius: 4px;
      line-height: 1.5em;
      outline: 0;
      background: rgb(245, 248, 250);
      border-color: rgb(245, 248, 250);
      transition: border-color 200ms;
      width: 100%;
    }
    .error-message {
      font-size: 13px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: -0.1px;
      font-style: normal;
    }

    p {
      margin: 0;
      padding: 14px 0px;
      letter-spacing: -0.1px;
        #signup-link {
          color: rgb(0, 200, 5);
          text-decoration: none;
          font-weight: 500;

        }
    }
  }
  
  .login-input .input-box:hover {    
    background: rgb(255, 255, 255);
    border-color: rgb(193, 193, 193);
  }

.login-input .input-box:focus {
  background-color: #fff;
  border-color: rgb(0, 200, 5);
}

.login-input label > :first-child {
  padding: 9px 0;
  display: block;
}

.email-field {
  display: block;
  box-sizing: border-box;
    label {
      cursor: default;
    }
}


.right-content-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.inner-content .heading {
  display: block;
  margin-bottom: 18px;
  white-space: pre-line;
}

.inner-content .heading h1{
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: block;
  margin: 0;
}

.short-intro {
  display: block;
  margin-top: 24px;
    span {
      margin: 0;
    }
}

.right-content-2 {
  align-content: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

@media (min-width: 1024px) {
  .splash-signup {
    margin-top: 40px;
  }
  .splash-signup2 {
    flex-direction: column;
    margin: -20px 0;
  }
  .right-content-2 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .right-content-3 {
    min-height: 603px;
  }
  .inner-content {
    padding: 100px 0;
  }
  .image-container {
    min-height: 603px;
  }
}

.splash-signup2 {
  display: flex;
}

.splash-signup {
  a {
    text-decoration: none;
  }
}

.auth-container {
  display: flex;
  justify-content: space-evenly;
  width: 223.52px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
    a {
      text-decoration: none;
    }
    #login {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    #signup {
      height: 48px;
      min-width: 144px;
      border-radius: 24px;
      background-color: rgb(0, 200, 5);
      box-sizing: border-box;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    #signup-my-account {
      height: 48px;
      min-width: 168px;
      border-radius: 24px;
      background-color: rgb(0, 200, 5);
      box-sizing: border-box;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    #signup-my-account:hover {
      background-color: rgb(0, 180, 5);
    }
    .auth-spacer {
      width: 25px;
    }
}

#signup-black {
  color: white;
  height: 48px;
  min-width: 144px;
  border-radius: 24px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  background-color: black;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.auth-container a:visited,
.auth-container a:link,
.auth-container a:active {
  color: black;
}

.short-intro .paragraph {
  font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  text-decoration: unset;
  letter-spacing: -0.24px;
  margin: 0;
}

.signup-body {
  height: 100%;
  box-sizing: border-box;
  display: block;
}

.signup-outermost {
  display: flex;
  flex: 1 1 0%;
  height: 100%;
  box-sizing: border-box;
}

.signup-left-container {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  text-size-adjust: none;
}

.signup-left-container-2 {
  margin: 0px 15%;
  padding-bottom: 2rem;
  width: 800px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
    .signup-logo {
      position: absolute;
      top: 40px;
      box-sizing: border-box;
      display: block;
      font-size: 24px;
    }

    .signup-header {
      margin-top: 161px;
      margin-bottom: 51px;
      box-sizing: border-box;
      display: block;
        .signup-header-message {
          box-sizing: border-box;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          letter-spacing: -0.33px;
          line-height: 32px;
        }
    }

    .signup-intro-message {
      margin-top: 17px;
      box-sizing: border-box;
      display: block;

        .signup-intro-message-2 {
          margin-top: -9px;
          box-sizing: border-box;
          display: block;

            span {
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              letter-spacing: -0.1px;
              line-height: 24px;
            }
        }
    }
}

.form-container {
  margin-top: -16px;
  box-sizing: border-box;
  display: block;
}

.full-name:first-child {
  margin-top: 0px;
}

.full-name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
    .first-name {
      padding-right: 24px;
      flex: 0 0 50%;
      box-sizing: border-box;
      display: block;
    }

    .first-name-input {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      box-sizing: border-box;
    }
}

.first-name-input-2 {
  text-decoration: unset;
  text-align: left;
  box-sizing: border-box;
  box-shadow: none;
  border-style: solid;
  border-width: 1px;
  background-color: rgb(245, 248, 250);
  border: rgb(245, 248, 250) 1px solid;
  width: 100%;
  height: 36px;
  padding: 0 12px;
  transition: border-color 200ms ease 0s;
  border-radius: 5px;
}

.first-name-input-2:hover {
  border-color: rgb(228, 233, 237);;
  background-color: rgb(255, 255, 255);;
}

.first-name-input-2:focus {
  outline: 0px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(0, 200, 5);
}

.first-name-input-2::placeholder,
.last-name-input-2::placeholder,
.email-input-2::placeholder,
.password-input-2::placeholder {
  color: lightgray;
}

.last-name {
  flex: 0 0 50%;
  display: block;
  box-sizing: border-box;
    .last-name-input {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      box-sizing: border-box;
    }
}

.last-name-input-2 {
  text-decoration: unset;
  text-align: left;
  box-sizing: border-box;
  box-shadow: none;
  border-style: solid;
  border-width: 1px;
  background-color: rgb(245, 248, 250);
  border: rgb(245, 248, 250) 1px solid;
  width: 100%;
  height: 36px;
  padding: 0 12px;
  transition: border-color 200ms ease 0s;
  border-radius: 5px;
}

.last-name-input-2:hover {
  border-color: rgb(228, 233, 237);;
  background-color: rgb(255, 255, 255);;
}

.last-name-input-2:focus {
  outline: 0px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(0, 200, 5);
}

.email-container {
  margin-top: 24px;
  width: 100%;
  box-sizing: border-box;
  display: block;
    .email-input {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      box-sizing: border-box;
    }

    .email-input-2 {
      text-decoration: unset;
      text-align: left;
      box-sizing: border-box;
      box-shadow: none;
      border-style: solid;
      border-width: 1px;
      background-color: rgb(245, 248, 250);
      border: rgb(245, 248, 250) 1px solid;
      width: 100%;
      height: 36px;
      padding: 0 12px;
      transition: border-color 200ms ease 0s;
      border-radius: 5px;
    }
}


.email-input-2:hover {
  border-color: rgb(228, 233, 237);;
  background-color: rgb(255, 255, 255);;
}

.email-input-2:focus {
  outline: 0px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(0, 200, 5);
}

.password-container {
  margin-top: 24px;
  width: 100%;
  box-sizing: border-box;
  display: block;

    .password-input {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
    }

    .password-input-2 {
      text-decoration: unset;
      text-align: left;
      box-sizing: border-box;
      box-shadow: none;
      border-style: solid;
      border-width: 1px;
      background-color: rgb(245, 248, 250);
      border: rgb(245, 248, 250) 1px solid;
      width: 100%;
      height: 36px;
      padding: 0 12px;
      transition: border-color 200ms ease 0s;
      border-radius: 5px;
    }
}

.password-input-2:hover {
  border-color: rgb(228, 233, 237);;
  background-color: rgb(255, 255, 255);;
}

.password-input-2:focus {
  outline: 0px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(0, 200, 5);
}

.button-container {
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
    .button-content {
      padding-right: 24px;
      box-sizing: border-box;
      display: block;
        button {
          background-color: rgb(0, 200, 5);
          height: 48px;
          min-width: 120px;
          justify-content: center;
          border: 0px;
          align-items: center;
          font-size: 13px;
          color: rgb(255, 255, 255);
          font-weight: 700;
          line-height: 20px;
          letter-spacing: -0.1px;
          border-radius: 5px;
          white-space: nowrap;
          display: inline-flex;
          padding: 0 48px;
          cursor: pointer;
        }
        button:hover {
          background-color: rgb(0, 180, 5);
        }
    }
}

.already-registered {
  span {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 20px;
  }

  a {
  color: rgb(0, 200, 5);
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  }
}

.signup-error {
  padding: 24px 4px;
  color: red;
   p {
     padding: 4px 0;
   }
}

.t-and-c {
  margin-top: auto;
  align-self: flex-end;
  padding-top: 64px;
  display: inline-block;
  font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;;
    .t-and-c-2 {
      line-height: 20px;
      letter-spacing: -0.1px;
      box-sizing: border-box;
      display: block;
    }

    .t-and-c-3 {
      margin: 19px 0;
      display: block;
    }

    .t-and-c-4 {
      padding: 0 15px;
      box-sizing: border-box;
    }

    .terms-text-1 {
      margin: 1em 0;
      font-size: 12.75px;
      color: rgb(180, 189, 194);
      line-height: 20px;
    }

    .terms-text-2 {
      margin: 1em 0;
      font-size: 12.75px;
      color: rgb(180, 189, 194);
      line-height: 20px;
        a {
          color: rgb(0, 200, 5);
          text-decoration: none;
          font-weight: 500;
        }
    }

    .terms-text-3 {
      margin: 1em 0;
      font-size: 12.75px;
      color: rgb(180, 189, 194);
      line-height: 20px;
    }

    .terms-text-4 {
      margin: 1em 0;
      font-size: 12.75px;
      color: rgb(180, 189, 194);
      line-height: 20px;
        a {
          text-decoration: none;
          color: rgb(0, 200, 5);
          font-weight: 500;
          padding-right: 10px;
        }
    }

    .trademark {
      margin: 1em 0;
      font-size: 12.75px;
      color: rgb(180, 189, 194);
      line-height: 20px;
    }
}

.signup-right-container {
  display: flex;
  flex-direction: column;
  padding: 174px 4% 0px;
  width: 40%;
  background-color: rgb(245, 248, 250);
  box-sizing: border-box;
    .signup-right-container-2 {
      max-width: 266px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    span {
      font-size: 15px;
      font-weight: 400;
      letter-spacing: -0.1px;
      line-height: 24px;
    }

    .intro-head-1 {
      margin-bottom: 8px;
      box-sizing: border-box;
        span {
          font-size: 15px;
          font-weight: 700;
          letter-spacing: -0.1px;
          line-height: 24px;
        }
    }

      .intro-head-2 {
        margin: 40px 0 8px;
        box-sizing: border-box;
          span {
            font-size: 15px;
            font-weight: 700;
            letter-spacing: -0.1px;
            line-height: 24px;
          }
    }

        .intro-head-3 {
          margin: 40px 0 8px;
          box-sizing: border-box;
            span {
              font-size: 15px;
              font-weight: 700;
              letter-spacing: -0.1px;
              line-height: 24px;
            }
      }
}

// ---------------------------

.dashboard-outermost,
.asset-show-outermost {
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
  margin-right: 0px;
  margin-left: calc(100vw - 100%);
}

.dashboard-container,
 .asset-container {
  margin-bottom: 64px;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 1036px;
  box-sizing: border-box;
}
.main-container {
  padding-top: 36px;
  margin: 0 auto;
  width: 1024px;
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 0 -6px;
  box-sizing: border-box;
  width: 1036px;
  height: 2241px;
}

.col-1 {
  flex: 0 0 66.66667%;
  display: block;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;
}

.col-2 {
  margin-right: 0;
  flex: 0 0 27.77778%;
  display: block;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;
}

.portfolio-graph {
  width: 676px;
  height: 349px;
  margin-bottom: 44px;
  position: relative;
  display: block;
  background-color: steelblue;
}

.header-bar {
  height: 64px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: block;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}

.header-container {
  margin: 0 auto;
  max-width: 100%;
  width: 1024px;
  align-items: center;
  display: flex;
  height: 64px;
  box-sizing: border-box;
}

// .search-outer {
//   flex-basis: 480px;
//   min-width: 160px;
//   box-sizing: border-box;
//   display: block;
// }

#logo {
  font-size: 28px;
}

#logo:visited,
#logo:active {
  font-size: 28px;
  color: black;
}

#logo:hover {
  color: coral;
}

.logo-container {
  margin-right: 6px;
  box-sizing: border-box;
}

.search-box {
  // top: 0;
  // left: 0;
  // right: 0;
  // // position: absolute;
  // border: 1px solid lightgray;
  // border-radius: 5px;
  // transition: border-color 300ms ease 0s, box-shadow 300ms ease 0s;
  // display: block;
  // box-sizing: inherit;
}

// .search-inner-box {
//   display: flex;
//   // padding-left: 5% ;
//   align-items: center;
//   color: lightgray;
//   min-height: 34px;
//   flex-direction: column;
//   position: absolute;
//   background-color: white;
// }

// .search-input {
//   display: flex;
//   padding-left: 5% ;
//   align-items: center;
//   color: lightgray;
//   // min-height: 34px;
// }

// .search-inner-box:focus-within {
//   color: black;
// }

// .search-inner-box input {
//   width: 100%;
//   padding-right: 24px;
//   border: none;
//   outline: none;
//   background: none;
//   text-decoration: unset;
// }

// .search-inner-box input:focus {
//   outline: none;
// }

// .search-icon {
//   font-size: 20px;
//   padding-right: 10px;
// }

// .icon-container {
//   position: relative;
//   // display: flex;
//   min-height: 34px;
//   padding-left: 24px;
//   box-sizing: border-box;
// }

// .magnify {
//   display: flex;
//   flex: 0 0 auto;
//   align-items: center;
//   box-sizing: border-box;
//   margin-right: 4px;
//   span {
//     display: inline-flex;
//   }
// }

// .magnify input {
//   width: 100%;
//   overflow: visible;
//   margin: 0;
//   padding-left: 2px;
//   padding-right: 24px;
//   padding-bottom: 1px;
//   padding-top: 1px;
// }

.header-right {
  padding-right: 0 4px 0 6px;
  flex-shrink: 0;
  margin-left: auto;
  box-sizing: border-box;
  width: 280px;
}

.header-right-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 600;
    .brand-icon {
      font-size: 24px;
    }
}

#linkedin:hover {
  cursor: pointer;
  color: #007bb5;
}

#angellist:hover {
  cursor: pointer;
  color: #f161e8;
}

#github:hover {
  cursor: pointer;
  color: rgb(91, 228, 91);
}

.account span:hover {
  cursor: pointer;
  color: rgb(0, 200, 5);
}

.portfo-link {
  cursor: pointer;
    a {
      text-decoration: none;
    }
}

.portfo-link span:hover {
  color: #daa3c3;
}


.portfo-link a:link,
.portfo-link a:visited {
  color: black;
}


@media (min-width: 1200px) {
  .logo-container {
    left: 48px;
    margin-right: 0;
    position: absolute;
    box-sizing: border-box;
  }

  .header-right {
    right: 48px;
    position: absolute;
  }
}

//watchlist

.row > * {
  display: block;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;
}
.row > *:last-child {
  margin-right: 0;
}

.watchlist-content:last-child {
  margin-bottom: 0;
}
.watchlist-content,
.transaction-content {
  height: calc(100% - 95px);
  margin-left: -24px;
  margin-top: -24px;
  overflow-y: auto;
  padding: 24px;
  position: fixed;
  top: 95px;
  display: block;
  box-sizing: border-box;
  width: 323.777778px;
}

.watchlist-card {
  position: relative;
  background-color:rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 12px 24px;
  display: block;
  font-size: 13px;
  height: 100%;
  resize: none;
  overflow: auto;
}

.actual-sidebar {
  box-sizing: border-box;
  direction: ltr;
  height: 100%;
  position: relative;
  width: 276px;
  overflow: hidden auto;
  .single-item,
  .watchlist-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      padding: 0 24px;
    }
  .single-item:hover {
    background-color: rgb(182, 241, 182);
  }
  #wl-link {
    text-decoration: none;
  }
  #wl-link:active,
  #wl-link:link,
  #wl-link:visited {
    color: black;
  }
}

.watchlist-top {
  border-bottom: 1px rgb(226, 230, 233) solid;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

.watchlist-top:hover {
  background-color: white;
}

// .single-item {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }


// Asset show page 9.12

.graph-section nav {
  border-bottom: 1px solid rgb(193, 193, 193);
  margin-top: 24px;
  // margin-bottom: 12px;
  box-sizing: border-box;
}

.range-buttons {
  height: 33px;
  width: 175px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // margin-left: -12px;
  // margin-right: -12px;
    span {
      padding-right: 18px;
      cursor: pointer;
    }
}

.order-card {
  min-height: 367px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  // overflow: hidden;
  // border: 1px solid rgb(224, 221, 221);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0 12px 24px 0, rgba(0, 0, 0, 0.06) 0 -12px 24px 0;
}

.sidebar-buttons {
  margin-top: 24px;
  padding: 0 24px;
  width: 100%;
  box-sizing: border-box;
    .options {
      margin-bottom: 12px;
      border: 1px solid grey;
      color: grey;
    }
}

.add-button {
  outline: none;
  background: none;
  padding-top: 0;
  padding-bottom: 0;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  width: 100%;
  border-color: rgb(255, 80, 0);
  border-style: solid;
  border-width: 1px;
  height: 48px;
  color: rgb(255, 80, 0);
  font-weight: 700;
  align-items: center;
  border-radius: 5px;
}

.add-button:hover {
  border-color: rgba(255,106,38,1);
  color: rgba(255,106,38,1);
}

.order-form {
  box-sizing: border-box;
  display: block;
  margin-top: 0em;
}

.order-type {
  padding-left: 24px;
  padding-right: 24px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgb(224, 221, 221);
  box-sizing: border-box;
  display: block;
  height: 52px;
  padding-top: 4px;
    .inner-order-type {
      display: flex;
      align-items: center;
      height: 100%;
      position: relative;
      width: 100%;
      justify-content: space-evenly;
    }
    span {
      font-size: 15px;
      line-height: 24px;
      font-weight: 700;
    }
}

.order-amount {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  box-sizing: border-box;
}

.selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 48px;
  box-sizing: border-box;
    label {
      margin-right: 12px;
      min-width: 48px;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: -0.1px;
    }
}

.inner-choice {
  text-align: right;
  width: 136px;
  box-sizing: border-box;
}

.combo-box {
  text-align: right;
  height: 36px;
  position: relative;
  box-sizing: border-box;
}

.invest-option {
  border: 1px solid rgb(245, 248, 250);
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  box-sizing: border-box;
  height: 36px;
    .invest-button, input {
      outline: none;
      display: flex;
      width: 100%;
      position: relative;
      padding: 1px 1px 0 12px;
      align-items: center;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid transparent;
      height: 36px;
      cursor: pointer;
    }
    svg {
      margin-right: 5px;
    }
    input {
      text-align: right;
      padding-right: 12px;
      padding-left: 12px;
      text-indent: 0px;
    }
    .text {
      flex: 1 1 auto;
      overflow: hidden;
      text-align: left;
      box-sizing: border-box;
      font-size: 13px;
      line-height: 14.95px;
      letter-spacing: normal;
      margin-right: 10px;
    }
}

.amount-shares {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 48px;
  box-sizing: border-box;
}

.invest-option-input {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
    input {
      border: 1px solid rgb(245, 248, 250);
      box-sizing: border-box;
      height: 36px;
      padding-left: 12px;
      padding-right: 12px;
      width: 136px;
      border-radius: 4px;
      display: block;
      text-align: right;
      background-color: rgb(245, 248, 250);
    }
    input::placeholder, #shares-input::placeholder {
      color: lightgray;
    }

    #shares-input {
      border: 1px solid rgb(245, 248, 250);
      box-sizing: border-box;
      height: 36px;
      padding-left: 12px;
      padding-right: 12px;
      width: 82px;
      border-radius: 4px;
      display: block;
      text-align: right;
      background-color: rgb(245, 248, 250);
    }
    input:focus, #shares-input:focus {
      outline: 0;
      border: 1px solid rgb(255, 80, 0);
    }
    input:hover, #shares-input:hover {
      background-color: transparent;
    }
}


.est-qt-shares {
  border-top: 1px solid lightgray;
  box-sizing: border-box;
    .est-qt-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 48px;
      box-sizing: border-box;
        span {
          font-size: 13px;
          font-weight: 700;
          line-height: 20px;
        }
        .est-qt-text {
          margin-right: 12px;
          min-width: 48px;
          white-space: nowrap;
        }
    }
}

.review-button-outer {
  padding-top: 12px;
  box-sizing: border-box;
}

.review-container {
  padding: 12px 24px 24px;
    .review-button {
      margin-bottom: 12px;
      box-sizing: border-box;
        button {
          background-color: rgb(255, 80, 0);
          height: 48px;
          min-width: 120px;
          line-height: 20px;
          width: 100%;
          padding-left: 48px;
          padding-right: 48px;
          border: none;
          border-radius: 4px;
          outline: none;
          cursor: pointer;
            span {
              color: white;
              font-weight: 700;
            }
        }
        button:hover {
          background-color: rgba(255,106,38,1);
        }
    }
}

.buying-power-footer {
  border-top: 1px solid lightgray;
  display: flex;
  min-height: 48px;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  box-sizing: border-box;
    .buying-power-content {
      flex: 1;
      text-align: center;
      box-sizing: border-box;
        span {
          color: rgb(255, 80, 0);
          font-size: 13px;
          line-height: 20px;
          font-weight: 500;
        }
    }
}

//header dropdown
.dropdown-outer {
  top: 34px;
  padding: 18px 0 0;
  right: -12px;
  width: 296px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.06) 0 12px 24px 0, rgba(0, 0, 0, 0.06) 0 -12px 24px 0;
  box-sizing: border-box;
  max-height: 824px;
  position: absolute;
  display: block;
  line-height: 20px;
}

.dropdown-container {
  width: 100%;
  box-sizing: border-box;
  display: block;
    header {
      border-bottom: rgb(224, 221, 221) 1px solid;
      padding: 0 24px 12px;
      display: block;
      box-sizing: border-box;
        span {
          font-size: 15px;
          font-weight: 700;
          line-height: 24px;
        }
        .account-details {
          margin-top: 12px;
          display: flex;
          box-sizing: border-box;
        }
    }

    .portfolio-value {
      margin-right: 36px;
      white-space: nowrap;
      box-sizing: border-box;
        .portfolio-value-container,
        .buying-power-value-container {
          margin-bottom: 0;
        }
    }
}

.portfolio-value-text,
.buying-power-value {
  margin-top: 2px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.logout-div-container {
  display: flex;
  height: 48px;
  align-items: center;
  padding: 0 24px;
  font-weight: 500;
}

.logout-div-container:hover {
  background-color: rgb(245, 248, 250);
  cursor: pointer;
}

.logout-div {
  display: flex;
  align-items: center;
  box-sizing: border-box;
    svg {
      margin-right: 12px;
      display: inline-flex;
      box-sizing: border-box;
    }
    .logout-text {
      padding-bottom: 4px;
      margin-right: 12px;
      align-items: center;
    }
}

//graph section
.graph-section {
  width: 676px;
  margin-bottom: 44px;
  position: relative;
  box-sizing: border-box;
}

//about section
.about-section,
.related-lists-section,
.asset-news-section,
.rating-section,
.earnings-section {
  margin-bottom: 60px;
  display: block;
  box-sizing: border-box;
  width: 676px;
    header {
      margin-bottom: 24px;
      box-sizing: border-box;
    }
    .about-div,
    .related-lists-div,
    .asset-news-div,
    .rating-div,
    .earnings-div {
      border-bottom: 1px solid rgb(228, 233, 237);
      padding-bottom: 16px;
      display: flex;
      align-items: center;
    }
    .about-div-inner,
    .related-lists-div-inner,
    .asset-news-div-inner,
    .rating-div-inner,
    .earnings-div-inner {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      flex-grow: 1;
        .about-h2,
        .related-lists-h2,
        .asset-news-h2,
        .rating-h2,
        .earnings-h2 {
          display: flex;
          margin: 0;
          align-items: center;
        }
      h2 {
        font-size: 24px;
        font-weight: 50;
        letter-spacing: -0.33px;
        line-height: 28px;
      }
    }
}

.about-div-inner {
  button {
    background: none;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #06eb9f;
    cursor: pointer;
    font-weight: 500;
    outline: none;
  }
}

.company-description {
  margin-bottom: 15px;
  box-sizing: border-box;
    .company-span {
      margin: 0 0 24px;
      max-width: 570px;
    }
    span {
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.1px;
    }
}

.info-grid {
  padding-top: 18px;
  display: flex;
  flex-wrap: wrap;
}

.asset-info {
  flex-basis: calc(25% - 12px);
  margin: 0 6px 12px;
  box-sizing: border-box;
}

.info-label {
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.1px;
}

.info-label-div {
  margin-top: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
}

.info-data {
  margin-top: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 40;
  line-height: 20px;
  letter-spacing: -0.1px;
}

.capitalize {
  text-transform: uppercase;
}

.list-buttons {
  margin-bottom: -8px;
  box-sizing: border-box;
  height: 44px;
    .button-one {
      margin-bottom: 8px;
      margin-right: 8px;
      box-sizing: border-box;
      border: 1px solid rgb(228, 233, 237);
      display: inline-flex;
      justify-content: flex-end;
      align-items: center;
      border-radius: 20px;
      height: 36px;
      padding-right: 16px;
      box-sizing: border-box;
      width: 159px;
        span {
          font-size: 13px;
          line-height: 20px;
          letter-spacing: -0.1px;
        }
    }
}

//asset news

.article {
  margin: 0 -30px;
  padding: 30px;
  position: relative;
  box-sizing: border-box;
}

.inner-news-content {
  display: flex;
  min-height: 134px;
}

.title-side {
  padding-right: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
    .news-source {
      font-size: 13px;
      line-height: 20px;
      letter-spacing: -0.1px;
      display: flex;
      margin-top: -4px;
      box-sizing: border-box;
        span {
          font-weight: 500;
        }
      .time-since {
        margin-left: 6px;
        font-weight: 400;
        color: rgb(121, 133, 139);
      }
    }
}

.news-title-and-more {
  margin: 4px 0;
  max-height: 10.5ex;
  max-width: 420px;
  overflow: hidden;
  box-sizing: border-box;
    span {
      color: rgb(121, 133, 139);
      font-weight: 400;
      line-height: 20px;
      font-size: 13px;
    }
}

.title-h3 {
  margin-bottom: 3px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.1px;
  line-height: 20px;
}

.news-image {
  border-radius: 4px;
  flex-shrink: 0;
  height: 134px;
  width: 196px;
  display: block;
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
      border-style: none;
    }
}

// .rating-section .row > * {
//   padding-left: 6px;
//   padding-right: 6px;
// }

// .left-rating {
//   display: flex;
//   flex-shrink: 0;
//   justify-content: center;
//   width: 218.222222px;
// }

// .rating-circle {
//   color: rgb(255, 80, 0);
//   background: rgba(255, 80, 0, 0.2);
//   border-radius: 67px;
//   display: flex;
//   flex-direction: column;
//   height: 134px;
//   justify-content: center;
//   width: 134px;
//   box-sizing: border-box;
// }

//portfolio

.react-chart {
  width: 676px;
  height: 349px;
  padding-bottom: 20px;
}

.dashboard-buying-p {
  margin-bottom: 60px;
  margin-top: -24px;
  box-sizing: border-box;
  display: block;
    header {
      border-bottom: 1px solid rgb(193, 193, 193);
      border-top: none;
      padding-top: 24px;
      padding-bottom: 36px;
    }
}

.left-info-watchlist {
  // flex: 0 1 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
    .stock-name-span {
      padding-bottom: 5px;
      font-weight: 700;
    }
}

.buying-p-heading div {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 700;
}

//invest in option dropdown
// .investIn-outer {
//   position: absolute;
//   max-height: 500px;
//   height: 72px;
//   width: 134px;
//   overflow: auto;
//   box-sizing: border-box;
//   background-color: #fff;
// }

.invest-outer {
  height: 72px;
  top: 34px;
  // right: -12px;
  width: 134px;
  background-color: white;
  border: 1px solid gray;
  box-sizing: border-box;
  max-height: 500px;
  position: absolute;
  display: flex;
  line-height: 20px;
  z-index: 10;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  flex-direction: column;
  
}

.shares-option {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 8px 12px;
  justify-content: center;
  cursor: pointer;
    .shares-option-inner {
      display: flex;
      align-items: center;
    }
  span {
    font-size: 13px;
    line-height: 20px;
  }
}

.shares-option:hover {
  background-color: rgb(48, 54, 58);
}

.dollars-option {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding: 8px 12px;
  cursor: pointer;
    .dollars-option-inner {
      display: flex;
      align-items: center;
    }
  span {
    font-size: 13px;
    line-height: 20px;
  }
}

//market price
.market-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 48px;
  box-sizing: border-box;
}

.market-price-label {
  margin-right: 12px;
  min-width: 48px;
  overflow: hidden;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.1px;
    span {
      color: rgb(0, 200, 5);
      font-weight: 500;
    }
}

.the-price {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.1px;
    span {
      font-weight: 700;
    }
}

.recharts-label {
  font-size: 13px;
}

.recharts-bar {
  border-radius: 5px;
}

//news
.article-link {
  text-decoration: none;
}

.article-link:link,
.article-link:visited {
  color: black;
}

.article:hover {
  background-color: rgb(244, 244, 244);
}

//order review message box
.review-message {
  font-size: 13px;
  padding-left: 24px;
  padding-right: 24px;
  letter-spacing: -0.01px;
  line-height: 20px;
}

//order type cursor
.inner-order-type {
  .type {
    cursor: pointer;
  }
}

//stock suggestion search box
// .stock-suggestion-box {
//   position: absolute;
//   left: 240px;
//   padding-top: 20px;
//   height: 50px;
// }

// .lower-box .stock-suggestion {
//   display: flex;
//   justify-content: space-between;
// }

// .stock-nav-link {
//   text-decoration: none;
// }

.search-outer {
  flex-basis: 480px;
  min-width: 160px;
  display: block;
  box-sizing: border-box;
}

.search-box {
  position: relative;
  height: 36px;
}

.search-inner-box {
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgb(219, 219, 219);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  box-sizing: border-box;
}

.icon-container {
  display: flex;
  height: 36px;
  padding-left: 12px;
  box-sizing: border-box;
}

.magnify {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-right: 4px;
  box-sizing: border-box;
}

.search-icon-box {
  display: inline-flex; 
}

.search-input {
  text-decoration: unset;
  border: none;
  outline: none;
  background: none;
  width: 100%;
  padding-right: 24px;
}

.stock-nav-link {
  text-decoration: none;
  color: black;

  .suggestion-ticker {
    padding-right: 20px;
  }
}

.test-div {
  td {
    padding-bottom: 5px;
    text-align: left;
    vertical-align: middle;
    height: 50px;
  }


}