/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// .user-entry {
//     display: flex;
//     visibility: visible;
// }

//  .user-entry a {
//      padding: 15px;
//      margin: 10px;
//      text-decoration: none;
//      color: black;
//      font-size: 18px;
//      font-style: normal;
//      font-family: Capsule Sans Text,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI", Helvetica,Arial,sans-serif;
//      font-weight: 700;
//      line-height: 28px;
//  }

.nav-bar {
  max-width: 100%;
  height: 64px;
  padding: 5px;
  background: #d8f5e6;
}

.nav-bar a {
  align-items: center;

}

.nav-bar .logo a {
  float: left;
  font-family: Capsule Sans Text,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI", Helvetica,Arial,sans-serif;
  font-size: 22px;
  margin-left: 4%;
  font-weight: 400;
  text-decoration: none;
  align-items: center;
  margin-top: 18px;
}

.user-entry {
  margin-right: 2%;
}

.navLinks {
  padding: 0;
  margin: 0;
  float: right;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
  li {
    display: inline-block;
    align-items: center;
    padding: 25px 15px;
  }
  a {
    padding: 5px;
    text-decoration: none;
    letter-spacing: 1px;
    color: black;
     font-size: 18px;
     font-style: normal;
     font-family: Capsule Sans Text,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI", Helvetica,Arial,sans-serif;
  }
}

 

 #welcome {
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 22px;
 }

 #guide {
    font-size: 13px;    
 }

 #sign-up {
    background-color: rgb(12, 222, 145);
    border-radius: 24px;
    box-sizing: border-box;
    padding: 13px 36px;
    height: 48px;
    min-width: 144px;
 }

 #sign-up:hover {
   background-color: #3aad74;
 }

.signup-container .info {
    margin: 20px auto;
    text-align: left;
}

 .signup-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 490px;
  margin: 0 auto 100px;
  padding: 150px 30px 30px 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: left;
  font-family: Capsule Sans Text,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI", Helvetica,Arial,sans-serif;
 }
 
 .signup-form button {
   outline: 0;
   background: rgb(12, 222, 145);;
   width: 100%;
   border: 0;
   padding: 15px;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
   color: #FFFFFF;
   font-size: 14px;
   -webkit-transition: all 0.3 ease;
   transition: all 0.3 ease;
   cursor: pointer;
 }
 
 .signup-form input {
   outline: 3px;
   background: #f5f8fa;
   width: 100%;
   border-style: none;
   margin: 10px 0 15px;
   padding: 15px;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
   box-sizing: border-box;
   font-size: 14px;
}

.signup-form input:focus:not(hover) {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(12, 222, 145);
    background-color: #FFFFFF;
 }

 .login-form input:focus:not(hover) {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(12, 222, 145);
    background-color: #FFFFFF;
 }


 .signup-form ::placeholder {
    color: #e0e1e2;
    // border-style: solid;
    border-width: 1px;
    border-color: #f5f8fa;
 }

 .signup-form input:hover {
    // outline: 3px;
   background: #FFFFFF;
   width: 100%;
   border-style: none;
//    margin: 10px 0 15px;
//    padding: 15px;
//    border-top-left-radius: 3px;
//    border-top-right-radius: 3px;
//    border-bottom-left-radius: 3px;
//    border-bottom-right-radius: 3px;
   box-sizing: border-box;
   font-size: 14px;
 }

  .login-form input:hover {
    // outline: 3px;
   background: #FFFFFF;
   width: 100%;
   border-style: none;
//    margin: 10px 0 15px;
//    padding: 15px;
//    border-top-left-radius: 3px;
//    border-top-right-radius: 3px;
//    border-bottom-left-radius: 3px;
//    border-bottom-right-radius: 3px;
   box-sizing: border-box;
   font-size: 14px;
 }

  .signup-form .message {
     display: flex;
    //  justify-content: space-between;
     justify-content: space-evenly;
     padding-left: 155px;
     padding-right: 155px;
     font-size: 13px;
     margin: 15px 0 0;
 }

 .signup-form .message a {
     text-decoration: none;
     color: rgb(12, 222, 145);
 }

.login-form {
 position: relative;
 z-index: 1;
 background: #FFFFFF;
 max-width: 300px;
 margin: 0 auto 100px;
 padding: 300px;
 border-top-left-radius: 3px;
 border-top-right-radius: 3px;
 border-bottom-left-radius: 3px;
 border-bottom-right-radius: 3px;
 text-align: left;
 font-family: Capsule Sans Text,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI", Helvetica,Arial,sans-serif;
}


.login-form button {
  outline: 0;
  background: rgb(12, 222, 145);;
  width: 100%;
  border: 0;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.signup-form button:hover {
    background-color: #17c082;
}


// .login-form button:after {
//   position: absolute;
//   -webkit-transition: .3s;
//   transition: .3s;
//   content: '';
//   width: 0;
//   left: 50%;
//   bottom: 0;
//   height: 3px;
//   background: red;
// }

// .login-form button:nth-of-type(3):after {
//   right: 0;
//   left: auto;
// }

.login-form button:hover {
    background-color: #17c082;
}

.signup-form .slogan {
    font-size: 24px;
    margin-bottom: 15px;
}

.signup-slogan {
    // font-size: 22px;
    margin: 10px 10px 10px 10px;
}


.login-form input {
  outline: 0;
  background: #f5f8fa;
  width: 100%;
  border: 0;
  margin: 10px 0 15px;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}

 .login-form .message {
     display: flex;
     justify-content: space-between;
     padding-left: 43px;
     padding-right: 43px;
     font-size: 13px;
     margin: 15px 0 0;
 }

 .login-form .message a {
     text-decoration: none;
     color: rgb(12, 222, 145);
 }

 .login-form .error-message {
   font-size: 13px;
   padding-bottom: 10px;
   padding-left: 3px;
 }

 .login-form .input:focus {
   .login-form .error-message {
     display: none;
   }
 }

//   .signup-form .error-message {
//    font-size: 13px;
//    padding-bottom: 10px;
//    margin-top: 10px;
//    padding-left: 3px;
//  }

.signup-error-message{
  font-size: 13px;

}

.signup-error-message p {
  // padding-bottom: 5px;
  margin-bottom: 10px;
  padding-left: 3px;
}

 .home-btn {
   text-decoration: none;
   position: absolute;
   margin: 15px 15px 10px 22px;
  //  padding: 15px;
 }

 .home-btn {
  outline: 0;
  background: rgb(12, 222, 145);;
  width: 34px;
  height: 30px;
  border: 0;
  padding: 20px;
  padding-left: 10px;
  padding-top: 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF;
  font-size: 22px;
  font: 800;
  // -webkit-transition: all 0.3 ease;
  // transition: all 0.3 ease;
  cursor: pointer;
 }

 .demo-login {
   display: flex;
   justify-content: center;
   font-size: 13px;
 }

 .demo-login p {
   padding-top: 9px;
   cursor: pointer;
 }