/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  font-family: Capsule Sans Text,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI", Helvetica,Arial,sans-serif;
}

.logout-container {
  display: flex;
  padding-top: 10px;
  justify-content: flex-end;
  padding-right: 10px;
}

.logout-container button {
  font-size: 15px;
  color: #00ff14;
  font-weight: 800;
  background-color: white;
  border: none;
  
}

.dropdown-trigger {
  // width: 200px;
  position: relative;
  padding-right: 10px;
}

.dropdown-list {
  display: none;
  position: absolute;
  padding-top: 70px;
  background-color: whitesmoke;
  border: rgb(235, 239, 243) solid 0.5px;
  border-radius: 2px;
  right: 7px;
  min-width: 100px;
  height: 46px;
  cursor: pointer;
}

.dropdown-trigger:hover > .dropdown-list {
  display: block;
}

.dashboard-body {
  // display: flex;
  justify-content: center;
}

.header-bar {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-grid {
  display: grid;
  width: 1080px;
  height: 1950px;
  grid-template-columns: repeat(3, 1fr) 275px;
  grid-template-rows: repeat(10, 1fr);
  border: hotpink 1px solid;
  gap: 60px 60px;
  margin: 0 auto;
}

.box {
  background-color: beige;
}

.search-outer {
  // align-items: center;
  // grid-column: 2 / 4;
  width: 320px;
  // display: block;
  display: flex;
  flex-direction: column;
  align-content: center;
  // margin: 0 auto;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 36px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  border-radius: 5px;
  &:focus{
    border: 1px solid #5bf469;
    transition: 0.35s ease;
    color: #171f17;
    font-size: 13px;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 60px;
  height: 60px;
  top: -49px;
  right: -45px;
}

.portfolio-graph {
  grid-area: 1 / 1 / 5 / 4;
  background-color: lightblue;
}

.pop-collection {
  grid-area: 5 / 1 / 7 / 4;
  background-color: lightblue;
}

.news-stand {
  grid-area: 7 / 1 / 20 / 4;
  background-color: lightblue;
}

.watchlist-items {
  // display: flex;
  // justify-content: start;
  grid-column: 4 / 4;
  grid-row: 1 / 10;
}

.watchlist-item {
  font-size: 14px;
  align-content: center;
  color: #242c2b;
  font-family: Capsule Sans Text,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI", Helvetica,Arial,sans-serif;
  list-style: none;
  height: 60px;
  border: olivedrab 1px solid;
}

.watchlist-item a {
  font-size: 13px;
  // width: 100%;
  list-style: none;
  color: #242c2b;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.watchlist-item:hover {
  background-color: rgb(192, 245, 191);
}

//Asset show page

.asset-show-body {
  display: flex;
  justify-content: center;
}

.asset-showpage-grid {
  display: grid;
  width: 1080px;
  height: 2330px;
  grid-template-columns: repeat(3, 1fr) 275px;
  grid-template-rows: repeat(16, 1fr);
  border: hotpink 1px solid;
  // column-gap: 70px;
  gap: 50px 50px;
}

.transaction-sidebar {
  grid-column: 4 / 4;
  grid-row: 1 / 10;
  background-color: lightcoral;
}

.stock-graph {
  grid-area: 1 / 1 / 4 / 4;
  background-color: rgba(237, 237, 237, 1);
}

.about {
  display: grid;
  grid-area: 4 / 1 / 6 / 4;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: lightgray;
  font-size: 22px;
  gap: 5px;
}

.about .asset-description {
  grid-area: 2 / 1 / 2 / 4;
  font-size: 15px;
}

.about .ceo {
  grid-area: 3 / 1 / 3 / 1;
  font-size: 15px;
}

.about .employees {
  grid-area: 3 / 2 / 3 / 2;
  font-size: 15px;
}

.about .hq {
  grid-area: 3 / 3 / 3 / 3;
  font-size: 15px;
}

.about .founded {
  grid-area: 3 / 4 / 3 / 4;
  font-size: 15px;
}

.about .market-cap {
  grid-area: 4 / 1 / 4 / 1;
  font-size: 15px;
}

.about .pe-ratio {
  grid-area: 4 / 2 / 4 / 2;
  font-size: 15px;
}

.about .dividend {
  grid-area: 4 / 3 / 4 / 3;
  font-size: 15px;
}

.about .avg-vol {
  grid-area: 4 / 4 / 4 / 4;
  font-size: 15px;
}

//read more

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 10ms ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: 15px;
  // height: 99%;
}

.read-more-state ~ .read-more-trigger:before {
  content: "Read more";
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: "Read less";
}

.read-more-trigger {
  cursor: pointer;
  // display: inline-block;
  text-align: right;
  padding: 0 .5em;
  font-size: .9em;
  line-height: 2;
  // border: 1px solid #ddd;
  // border-radius: .25em;
}

//abount grid collections

.collections {
  grid-area: 6 / 1 / 6 / 4;
  background-color: #dedede;
}

.asset-news-stand {
  grid-area: 7 / 1 / 11 / 4;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 35px 3px;
  background-color: #dedede;
}

.analyst-ratings {
  grid-area: 11 / 1 / 13 / 4;
  background-color: #dedede;
}

.earnings {
  grid-area: 13 / 1 / 15 / 4;
  background-color: #dedede;
}

// news stand grid

.news-item-0 {
  grid-area: 2 / 1 / 2 / 5;
  display: flex;
  justify-content: space-between;
    &:hover {
    background-color: lightyellow;
    cursor: pointer;
  }
}

.news-item-1 {
  grid-area: 3 / 1 / 3 / 5;
  display: flex;
  justify-content: space-between;
    &:hover {
    background-color: lightyellow;
    cursor: pointer;
  }
}

.news-item-2 {
  grid-area: 4 / 1 / 5 / 5;
  display: flex;
  justify-content: space-between;
    &:hover {
    background-color: lightyellow;
    cursor: pointer;
  }
}

.asset-show-image {
  width: 200px;
  height: 134px;
}

.company-name {
  font-family: Capsule Sans Text,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI", Helvetica,Arial,sans-serif;
  font-size: 32px;
}

.odometer {
  font-family: Capsule Sans Text,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI", Helvetica,Arial,sans-serif;
  font-size: 32px;
}

.splash-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  padding: 0 24px;
  // position: fixed;
    #logo {
      text-decoration: none;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
    }
}

.splash-nav #logo:visited {
  color: black;
}

.splash-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(195,245,60);
  border-bottom-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  overflow: hidden;
  position: relative;
}

.splash-container {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
  // flex-wrap: wrap;
  // flex-direction: row;
}

@media (max-width: 1279px) and (min-width: 1024px) {
  .splash-container-2 {
    margin-left: -9px;
    margin-right: -9px;
    width: calc(100% + 18px);
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.splash-container-2 {
  display: flex;
  align-items: center;
}

@media (min-width: 1280px) {
  .splash-container {
    min-width: 1280px;
    max-width: 1280px;
    padding-left: 37px;
    padding-right: 37px;
    display: block;
  }
  .inner-splash-container {
    margin-left: 9px;
    margin-right: 9px;
    width: 492px;
    display: block;
    visibility: visible;
  }
  .inner-content {
    padding: 100px 0;
    display: block;
    visibility: visible;
  }
  .heading {
    visibility: visible;
    h1 {
      visibility: visible;
    }
  }
  .short-intro, .splash-signup, .splash-signup2, .right-content-2, .right-content-3 {
    visibility: visible;
  }

  .right-content {
  margin-left: 9px;
  margin-right: 9px;
  width: 696px;
  display: block;
  visibility: visible;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}


}

@media (min-width: 768px) {
  .heading h1 {
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    text-decoration: unset;
  }
  .short-intro span {
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }
  .splash-signup {
    a {
      width: auto;
    }
  }
  .right-content-3 {
    min-width: 100%;
  }
}

.right-content-3 {
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.inner-content .heading {
  display: block;
  margin-bottom: 18px;
  white-space: pre-line;
}

.inner-content .heading h1{
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: block;
  margin: 0;
}

.short-intro {
  display: block;
  margin-top: 24px;
    span {
      margin: 0;
    }
}

.right-content-2 {
  align-content: center;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .splash-signup {
    margin-top: 40px;
  }
  .splash-signup2 {
    flex-direction: column;
    margin: -20px 0;
  }
  .right-content-2 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .right-content-3 {
    min-height: 603px;
  }
}

.splash-signup2 {
  display: flex;
}

.splash-signup {
  a {
    text-decoration: none;
  }
}

.image-container {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  align-content: center;
}



.auth-container {
  display: flex;
  justify-content: space-evenly;
  width: 223.52px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
    a {
      text-decoration: none;
    }
    #login {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      // letter-spacing: -0.25px;
      // box-sizing: border-box;
      // text-align: start;
      // width: 49.52px;
    }
    #signup {
      height: 48px;
      min-width: 144px;
      border-radius: 24px;
      background-color: rgb(0, 200, 5);
      box-sizing: border-box;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    .auth-spacer {
      width: 25px;
    }
}



#signup-black {
  color: white;
  height: 48px;
  min-width: 144px;
  border-radius: 24px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  background-color: black;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.auth-container a:visited {
  color: black;
}


// @media (max-width: 1279px) and (min-width: 1024px)
// .inner-content {
//     min-width: 1024px;
//     max-width: 100%;
//     padding-left: 36px;
//     padding-right: 36px;
// }



.short-intro .paragraph {
  font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  text-decoration: unset;
  letter-spacing: -0.24px;
  margin: 0;
}